In [100]:
import pandas as pd     
import matplotlib.pyplot as plt

In [101]:
electiondata = pd.read_csv("1976-2016-president.csv")
rate1 = pd.read_csv("1980-2014 November General Election - Turnout Rates.csv")
rate2 = pd.read_csv("2016 November General Election - Turnout Rates.csv")
electoralvotes = pd.read_csv("Available Electoral votes .csv")

In [102]:
rate1.rename(columns={"Unnamed: 0": "year", "Denominators" : "Eligible_voting_pop"}, inplace= True)
voting_data_1 = rate1[["year", "State", "Eligible_voting_pop"]]
voting_data_1 = voting_data_1.drop(voting_data_1.index[0])

In [103]:
rate2.rename(columns={"Denominators" : "Eligible_voting_pop"}, inplace= True)
rate2["year"] = '2016'
voting_data_2 = rate2[["year", "State", "Eligible_voting_pop"]]
voting_data_2 = voting_data_2.drop(voting_data_2.index[0])
total_voting = voting_data_2.append(voting_data_1)

In [104]:
total_voting['year'] = total_voting.year.astype(str).astype(int)
#total_voting.dtypes
#electiondata.dtypes

In [105]:
#electoralvotes.head()

In [106]:
merged_df = electiondata.merge(total_voting, how='left', left_on=['state','year'], right_on=["State","year"])

In [107]:

working_df = merged_df.merge(electoralvotes, how='left', left_on=['state','year'], right_on=["State","Year"])
final_working_df = working_df.drop(['state_po', 'state_fips', "state_cen", "state_ic", "office", "version", "notes", "State ID", "State_x","State_y", "Year", "writein"], axis=1)

In [108]:
find_top_candidates_df = final_working_df[["year","candidate", "candidatevotes"]]

find_top_candidates_df = find_top_candidates_df.groupby(["candidate", "year"]).sum().reset_index()

find_top_candidates_df= find_top_candidates_df.sort_values(by=["year", "candidatevotes"], ascending=False).groupby("year").head(2)

top_candidates_df = pd.DataFrame(find_top_candidates_df)

top_candidates_df["new"] = top_candidates_df["candidate"] + top_candidates_df["year"].astype(str)

only_winners = top_candidates_df[["new"]]

toppy = []
for row in only_winners["new"]:
    if row not in toppy:
        toppy.append(row)

toppy=pd.DataFrame(toppy)

find_top_candidates_df

             candidate  year  candidatevotes                    new
55    Clinton, Hillary  2016        65853581   Clinton, Hillary2016
237   Trump, Donald J.  2016        62985062   Trump, Donald J.2016
182   Obama, Barack H.  2012        65899660   Obama, Barack H.2012
215       Romney, Mitt  2012        59641482       Romney, Mitt2012
181   Obama, Barack H.  2008        69498459   Obama, Barack H.2008
152       McCain, John  2008        59948283       McCain, John2008
43     Bush, George W.  2004        62028285    Bush, George W.2004
126        Kerry, John  2004        59028079        Kerry, John2004
87            Gore, Al  2000        50996062           Gore, Al2000
42     Bush, George W.  2000        50456169    Bush, George W.2000
54       Clinton, Bill  1996        47401898      Clinton, Bill1996
74        Dole, Robert  1996        39198482       Dole, Robert1996
53       Clinton, Bill  1992        44954303      Clinton, Bill1992
41   Bush, George H.W.  1992        39103872  Bush, George H.W.1992
40   Bush, George H.W.  1988        48886097  Bush, George H.W.1988
75    Dukakis, Michael  1988        41809074   Dukakis, Michael1988
212     Reagan, Ronald  1984        54455073     Reagan, Ronald1984
164    Mondale, Walter  1984        37568137    Mondale, Walter1984
211     Reagan, Ronald  1980        43898770     Reagan, Ronald1980
49       Carter, Jimmy  1980        35480948      Carter, Jimmy1980
48       Carter, Jimmy  1976        40825839      Carter, Jimmy1976
82        Ford, Gerald  1976        39145771       Ford, Gerald1976

In [109]:
final_working_df["new"] = final_working_df["candidate"] + final_working_df["year"].astype(str)
#final_working_df.dtypes

In [110]:
final_final_but_not_quite = final_working_df.merge(toppy, how="left", left_on= "new", right_on= 0)

final_final_but_not_quite[0] = final_final_but_not_quite[0].fillna(0)

final_final_but_not_quite["Eligible_voting_pop"] = final_final_but_not_quite["Eligible_voting_pop"].fillna(.00000000000000000000000000000000000000000000000001)
final_final_but_not_quite

,year,state,candidate,party,candidatevotes,totalvotes,Eligible_voting_pop,electoralvotes,new,0
0,1976,Alabama,"Carter, Jimmy",democrat,659170,1182850,1e-50,9.0,"Carter, Jimmy1976","Carter, Jimmy1976"
1,1976,Alabama,"Ford, Gerald",republican,504070,1182850,1e-50,9.0,"Ford, Gerald1976","Ford, Gerald1976"
2,1976,Alabama,"Maddox, Lester",american independent party,9198,1182850,1e-50,9.0,"Maddox, Lester1976",0
3,1976,Alabama,"Bubar, Benjamin """"Ben""""",prohibition,6669,1182850,1e-50,9.0,"Bubar, Benjamin """"Ben""""1976",0
4,1976,Alabama,"Hall, Gus",communist party use,1954,1182850,1e-50,9.0,"Hall, Gus1976",0
...,...,...,...,...,...,...,...,...,...,...
3735,2016,Wyoming,NaN,NaN,6904,258788,"429,682",3.0,NaN,0
3736,2016,Wyoming,NaN,independent,3224,258788,"429,682",3.0,NaN,0
3737,2016,Wyoming,Blank Vote,NaN,2661,258788,"429,682",3.0,Blank Vote2016,0
3738,2016,Wyoming,"Castle, Darrell L.",constitution party,2042,258788,"429,682",3.0,"Castle, Darrell L.2016",0
3739,2016,Wyoming,Over Vote,NaN,278,258788,"429,682",3.0,Over Vote2016,0

In [111]:
final_final_but_not_quite.loc[final_final_but_not_quite[0] == 0, ["candidate"]] = 'Other'
maybe_final = final_final_but_not_quite.drop([0], axis=1)
maybe_final

for row in maybe_final:
    maybe_final["perc_won"] = maybe_final["candidatevotes"] / maybe_final["totalvotes"] 

#maybe_final["Eligible_voting_pop"] = maybe_final["Eligible_voting_pop"].replace({'\$': '', ',': ''}, regex=True)
#maybe_final["Eligible_voting_pop"].astype(float)
#maybe_final.dtypes


#for row in maybe_final:
 #   maybe_final["perc_participated"] = maybe_final["candidatevotes"] / maybe_final["Eligible_voting_pop"] * 100
maybe_final

,year,state,candidate,party,candidatevotes,totalvotes,Eligible_voting_pop,electoralvotes,new,perc_won
0,1976,Alabama,"Carter, Jimmy",democrat,659170,1182850,1e-50,9.0,"Carter, Jimmy1976",0.557273
1,1976,Alabama,"Ford, Gerald",republican,504070,1182850,1e-50,9.0,"Ford, Gerald1976",0.426149
2,1976,Alabama,Other,american independent party,9198,1182850,1e-50,9.0,"Maddox, Lester1976",0.007776
3,1976,Alabama,Other,prohibition,6669,1182850,1e-50,9.0,"Bubar, Benjamin """"Ben""""1976",0.005638
4,1976,Alabama,Other,communist party use,1954,1182850,1e-50,9.0,"Hall, Gus1976",0.001652
...,...,...,...,...,...,...,...,...,...,...
3735,2016,Wyoming,Other,NaN,6904,258788,"429,682",3.0,NaN,0.026678
3736,2016,Wyoming,Other,independent,3224,258788,"429,682",3.0,NaN,0.012458
3737,2016,Wyoming,Other,NaN,2661,258788,"429,682",3.0,Blank Vote2016,0.010283
3738,2016,Wyoming,Other,constitution party,2042,258788,"429,682",3.0,"Castle, Darrell L.2016",0.007891
3739,2016,Wyoming,Other,NaN,278,258788,"429,682",3.0,Over Vote2016,0.001074

In [112]:
find_top_candidates_state_df = maybe_final[["year","state","candidate", "candidatevotes", "new"]]
find_top_candidates_state_df = find_top_candidates_state_df.groupby(["candidate", "year", "state"]).sum().reset_index()

find_top_candidates_state_df= find_top_candidates_state_df.sort_values(by=[ "year","candidatevotes", "state"], ascending=False)
find_top_candidates_state_df = find_top_candidates_state_df.sort_values(["year", "state"]).groupby(["state","year"]).head(1)

find_top_candidates_state_df["new"] = find_top_candidates_state_df["candidate"] + find_top_candidates_state_df["year"].astype(str)
#find_top_candidates_state_df.sort_values(["state", "year"])
find_top_candidates_state_df

#find_top_candidates_state_df.loc[find_top_candidates_state_df["state"] == "Alabama"]

,candidate,year,state,candidatevotes,new
204,"Carter, Jimmy",1976,Alabama,659170,"Carter, Jimmy1976"
562,"Ford, Gerald",1976,Alaska,71555,"Ford, Gerald1976"
563,"Ford, Gerald",1976,Arizona,418642,"Ford, Gerald1976"
207,"Carter, Jimmy",1976,Arkansas,498604,"Carter, Jimmy1976"
565,"Ford, Gerald",1976,California,3882244,"Ford, Gerald1976"
...,...,...,...,...,...
454,"Clinton, Hillary",2016,Virginia,1981473,"Clinton, Hillary2016"
455,"Clinton, Hillary",2016,Washington,1742718,"Clinton, Hillary2016"
1672,"Trump, Donald J.",2016,West Virginia,489371,"Trump, Donald J.2016"
1673,"Trump, Donald J.",2016,Wisconsin,1405284,"Trump, Donald J.2016"
1674,"Trump, Donald J.",2016,Wyoming,174419,"Trump, Donald J.2016"

In [113]:

state_winner_added = maybe_final.merge(find_top_candidates_state_df, how="left", on= ["new", "state"], suffixes=('', 'drop'))
state_winner_added["candidatedrop"] = state_winner_added["candidatedrop"].fillna(0)
state_winner_added.loc[state_winner_added["candidatedrop"] != 0, ["candidatedrop"]] = '1'
state_winner_added.loc[state_winner_added["candidatedrop"] == 0, ["candidatedrop"]] = '0'

state_winner_added = state_winner_added.drop(["yeardrop",  "candidatevotesdrop", "new"], axis=1).rename(columns={"candidatedrop": "state_won_flag"})

state_winner_added["party"] = state_winner_added["party"].fillna("Unknown")

final_df = state_winner_added

final_df

,year,state,candidate,party,candidatevotes,totalvotes,Eligible_voting_pop,electoralvotes,perc_won,state_won_flag
0,1976,Alabama,"Carter, Jimmy",democrat,659170,1182850,1e-50,9.0,0.557273,1
1,1976,Alabama,"Ford, Gerald",republican,504070,1182850,1e-50,9.0,0.426149,0
2,1976,Alabama,Other,american independent party,9198,1182850,1e-50,9.0,0.007776,0
3,1976,Alabama,Other,prohibition,6669,1182850,1e-50,9.0,0.005638,0
4,1976,Alabama,Other,communist party use,1954,1182850,1e-50,9.0,0.001652,0
...,...,...,...,...,...,...,...,...,...,...
3735,2016,Wyoming,Other,Unknown,6904,258788,"429,682",3.0,0.026678,0
3736,2016,Wyoming,Other,independent,3224,258788,"429,682",3.0,0.012458,0
3737,2016,Wyoming,Other,Unknown,2661,258788,"429,682",3.0,0.010283,0
3738,2016,Wyoming,Other,constitution party,2042,258788,"429,682",3.0,0.007891,0
3739,2016,Wyoming,Other,Unknown,278,258788,"429,682",3.0,0.001074,0

In [114]:
#electoral college df
electoral_college = state_winner_added[["year", "state", "candidate","electoralvotes", "state_won_flag"]]
electoral_college = electoral_college.loc[electoral_college["state_won_flag"] == '1']

electoral_college = electoral_college.drop(["state","state_won_flag" ], axis=1)
electoral_college = electoral_college.groupby(["year", "candidate"]).sum().reset_index()

electoral_college["new"] = electoral_college["candidate"] + electoral_college["year"].astype(str)
electoral_college = electoral_college.sort_values(["year", "electoralvotes"], ascending=False)


electoral_college

    year          candidate  electoralvotes                    new
21  2016   Trump, Donald J.           305.0   Trump, Donald J.2016
20  2016   Clinton, Hillary           298.0   Clinton, Hillary2016
18  2012   Obama, Barack H.           358.0   Obama, Barack H.2012
19  2012       Romney, Mitt           206.0       Romney, Mitt2012
17  2008   Obama, Barack H.           392.0   Obama, Barack H.2008
16  2008       McCain, John           174.0       McCain, John2008
14  2004    Bush, George W.           286.0    Bush, George W.2004
15  2004        Kerry, John           280.0        Kerry, John2004
13  2000           Gore, Al           330.0           Gore, Al2000
12  2000    Bush, George W.           271.0    Bush, George W.2000
10  1996      Clinton, Bill           409.0      Clinton, Bill1996
11  1996       Dole, Robert           159.0       Dole, Robert1996
9   1992      Clinton, Bill           400.0      Clinton, Bill1992
8   1992  Bush, George H.W.           168.0  Bush, George H.W.1992
6   1988  Bush, George H.W.           426.0  Bush, George H.W.1988
7   1988   Dukakis, Michael           145.0   Dukakis, Michael1988
5   1984     Reagan, Ronald           561.0     Reagan, Ronald1984
4   1984    Mondale, Walter            10.0    Mondale, Walter1984
3   1980     Reagan, Ronald           530.0     Reagan, Ronald1980
2   1980      Carter, Jimmy            46.0      Carter, Jimmy1980
0   1976      Carter, Jimmy           335.0      Carter, Jimmy1976
1   1976       Ford, Gerald           241.0       Ford, Gerald1976

In [115]:
#start of year level dataset

year_df = final_df.groupby(["year", "candidate"]).sum().reset_index().sort_values(by= ["year", "candidatevotes"], ascending=False).groupby("year").head(1)
popular_vote = year_df[["year", "candidate", "candidatevotes"]]
popular_vote["new"] = popular_vote["candidate"] + popular_vote["year"].astype(str)



year_df = final_df.groupby(["year", "candidate"]).sum().reset_index().sort_values(by= ["year", "candidatevotes"], ascending=False).groupby("year").head(3)

vote = year_df[["year", "candidate", "candidatevotes"]]
vote["new"] = vote["candidate"] + vote["year"].astype(str)

vote = vote.merge(popular_vote, how="left", left_on="new", right_on="new", suffixes=('', 'drop'))
vote = vote.merge(electoral_college, how="left", left_on="new", right_on="new", suffixes=('', 'drop1'))

In [116]:
vote = vote.drop(["new", "yeardrop", "yeardrop1", "candidatevotesdrop", "candidatedrop1"], axis=1)
vote["electoralvotes"] = vote["electoralvotes"].fillna(0)
vote["candidatedrop"] = vote["candidatedrop"].fillna(0)

vote.loc[vote["candidatedrop"] != 0, ["candidatedrop"]] = '1'
vote.loc[vote["candidatedrop"] == 0, ["candidatedrop"]] = '0'

vote.rename(columns={"candidatedrop": "won_pop_vote_flag"}, inplace=True)

vote

    year          candidate  candidatevotes won_pop_vote_flag  electoralvotes
0   2016   Clinton, Hillary        65853581                 1           298.0
1   2016   Trump, Donald J.        62985062                 0           305.0
2   2016              Other         7948544                 0             0.0
3   2012   Obama, Barack H.        65899660                 1           358.0
4   2012       Romney, Mitt        59641482                 0           206.0
5   2012              Other         3598855                 0             0.0
6   2008   Obama, Barack H.        69498459                 1           392.0
7   2008       McCain, John        59948283                 0           174.0
8   2008              Other         1972511                 0             0.0
9   2004    Bush, George W.        62028285                 1           286.0
10  2004        Kerry, John        59028079                 0           280.0
11  2004              Other         1293086                 0             0.0
12  2000           Gore, Al        50996062                 1           330.0
13  2000    Bush, George W.        50456169                 0           271.0
14  2000              Other         4141751                 0             0.0
15  1996      Clinton, Bill        47401898                 1           409.0
16  1996       Dole, Robert        39198482                 0           159.0
17  1996              Other         9789438                 0             0.0
18  1992      Clinton, Bill        44954303                 1           400.0
19  1992  Bush, George H.W.        39103872                 0           168.0
20  1992              Other        20541605                 0             0.0
21  1988  Bush, George H.W.        48886097                 1           426.0
22  1988   Dukakis, Michael        41809074                 0           145.0
23  1988              Other          891654                 0             0.0
24  1984     Reagan, Ronald        54455073                 1           561.0
25  1984    Mondale, Walter        37568137                 0            10.0
26  1984              Other          631651                 0             0.0
27  1980     Reagan, Ronald        43898770                 1           530.0
28  1980      Carter, Jimmy        35480948                 0            46.0
29  1980              Other         7117133                 0             0.0
30  1976      Carter, Jimmy        40825839                 1           335.0
31  1976       Ford, Gerald        39145771                 0           241.0
32  1976              Other         1629734                 0             0.0